.clickBut1 {
    position: absolute;
    left: 33%;
    top: 40%;
  background-color: dimgrey;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  opacity: 1;
  transition: 0.3s;
    border-radius: 10px;
}
.clickBut1:hover {opacity: 0.6}
.clickBut1 a{
    color: aliceblue;
}
.clickBut2 {
    position: absolute;
    left: 55%;
    top: 40%;
  background-color: red;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  opacity: 1;
  transition: 0.3s;
    border-radius: 10px;
}
.clickBut2:hover {opacity: 0.6}
.clickBut2 a{
    color: aliceblue;
}
.skills{
    position: absolute;
    left: 48%;
    top: 120%;
     background-color: white;
  border: 1;
  color: black;
 border-radius: 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
    }
.process{
    position: absolute;
    left: 58%;
  top: 120%;
     background-color: white;
  border: 1;
  color: black;
 border-radius: 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
}
.about{
     position: absolute;
    left: 38%;
    top: 120%;
     background-color: white;
  border: 1;
  color: black;
 border-radius: 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
   
}


.clickSend{
    position: absolute;
    background-color: slategrey;
    left: 120%;
    top: 250%;
  border: none;
  color: white;
  padding: 10px 150px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  opacity: 1;
  transition: 0.3s;
border-radius: 5px;
    
}

.btnImage{
  background-color: white;

  border: 1;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.cardIcon6 button{
    position: absolute;
    left: 8%;
  background-color: dimgrey;
  border: none;
    border-radius:30px;
  color: white;
    align-content: center;
  padding: 13px 28px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  opacity: 1;
  transition: 0.3s;  
}
 

.btnPurchase{
   
    position: absolute;
   
  background-color: gainsboro;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 13px;
  margin: 3px 2px;
  opacity: 1;
  transition: 0.3s;
    border-radius: 10px;

}