<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>route scope</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="myapp.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
</head>

<body ng-app="myApp">
    <div align="center">
        <div ng-controller="myCtrl">
            <div ui-view></div>
        </div>
        <div ng-controller="editCtrl">
	
Name: <input type="text" name="name" ng-model="Data.Name"><br>

address: <input type="text" name="add" ng-model="Data.Address"><br>

email: <input type="text" name="email" ng-model="Data.Email"><br>

<a href="#" ng-click='Back()'>edit</a>


</div> 
    </div>
</body>

</html>